<tr>
  <td colspan="4">
    <table style="width:100%;">
      <tr class="calisanlar">
        <td>YÖNETİCİ</td>
        <td>{{ ekstra.yonetici }}</td>
        <td>MÜHENDİS</td>
        <td>{{ ekstra.muhendis }}</td>
        <td>TEKNİKER</td>
        <td>{{ ekstra.tekniker }}</td>
        <td>TEKNİSYEN</td>
        <td>{{ ekstra.teknisyen }}</td>
        <td>İŞÇİ</td>
        <td>{{ ekstra.isci }}</td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td colspan="4" style="text-align:center; vertical-align:middle; height:25px">
    3308 Sayılı Mesleki Eğitim Kanunu Geçici 12. Maddesi Uyarınca Aşağıdaki Bilgilerin Doldurulması Gerekmektedir.
  </td>
</tr>
<tr>
  <td rowspan="2">İşyerinde Öğrenciye Ücret Ödemesi Yapılacak mı?(Mutlaka Belirtilmesi Gerekir)</td>
  <td rowspan="2" style="text-align:center; vertical-align:middle">{{ ekstra.ucret }}</td>
  <td colspan="2">Ücret Ödemesi Yapılacaksa Personel Sayısı Bildirilmesi Zorunludur.</td>
</tr>
<tr>
  <td>İşletmede Çalışan Personel Sayısı</td>
  <td style="text-align:center; vertical-align:middle">{{ ekstra.calisansayisi }}</td>
</tr>

